In [2]:
import pandas as pd
import numpy as np
from lxml import html

In [3]:
n1='K0', 'K1', 'K2', 'K3  '
n2='A0', 'A1', 'A2', 'A3'
n3='B0' ,'B1', 'B2', 'B3'

In [4]:
l1=list(n1)
l2=list(n2)
l3=list(n3)

In [5]:
dfa={'Key': l1,'A': l2 , 'B':l3  }

In [6]:
dfa

{'Key': ['K0', 'K1', 'K2', 'K3  '],
 'A': ['A0', 'A1', 'A2', 'A3'],
 'B': ['B0', 'B1', 'B2', 'B3']}

In [7]:
df1=pd.DataFrame(dfa)

In [8]:
'K0 K1 K2 K3'.split()

['K0', 'K1', 'K2', 'K3']

In [9]:
dfb={'Key':'K0 K1 K2 K3'.split(),'A':'A0 A1 A2 A3'.split(), 'B':'B0 B1 B2 B3'.split()}

In [10]:
df2=pd.DataFrame(dfb)

In [11]:
df1

    Key   A   B
0    K0  A0  B0
1    K1  A1  B1
2    K2  A2  B2
3  K3    A3  B3

In [12]:
df2

  Key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [13]:
pd.concat([df1,df2],axis=1)

    Key   A   B Key   A   B
0    K0  A0  B0  K0  A0  B0
1    K1  A1  B1  K1  A1  B1
2    K2  A2  B2  K2  A2  B2
3  K3    A3  B3  K3  A3  B3

In [14]:
pd.merge(df1,df2,on='Key')

  Key A_x B_x A_y B_y
0  K0  A0  B0  A0  B0
1  K1  A1  B1  A1  B1
2  K2  A2  B2  A2  B2

In [15]:
right=pd.DataFrame({'A':'C0 C1 C2'.split(), 'B': 'D0 D1 D2'.split()}, index='K1 K2 K3'.split())

In [16]:
left=pd.DataFrame({'C':'C0 C1 C2'.split(), 'D': 'D0 D1 D2'.split()}, index='K1 K2 K3'.split())

In [17]:
left.join(right) #hdvbkjdbvkjvbkdjvdb

     C   D   A   B
K1  C0  D0  C0  D0
K2  C1  D1  C1  D1
K3  C2  D2  C2  D2

In [18]:
right.join(left)

     A   B   C   D
K1  C0  D0  C0  D0
K2  C1  D1  C1  D1
K3  C2  D2  C2  D2

In [19]:
right.shape

(3, 2)

In [20]:
right.size

6

In [21]:
right['A'].nunique()

3

In [22]:
df1['Key'].value_counts()

Key
K0      1
K1      1
K2      1
K3      1
Name: count, dtype: int64

In [23]:
df3=pd.DataFrame({'A':[1, 2, 3, 4, 5, 6, 7 ,8 ,9],'B':[9, 8, 7, 6 ,5 ,4, 3, 2, 1]})

In [25]:
b=df3['B']

In [28]:
#data=pd.read_html('https://en.wikipedia.org/wiki/List_of_banks_in_Germany')

In [33]:
#data[0]

In [39]:
data=pd.read_csv('annual-enterprise-survey-2021-financial-year-provisional-csv.csv')

In [75]:
a=data['Variable_code']=='H07'

In [77]:
a.shape

(41715,)