In [22]:
import pandas as pd
import numpy as np

In [23]:
n1='K0', 'K1', 'K2', 'K3  '
n2='A0', 'A1', 'A2', 'A3'
n3='B0' ,'B1', 'B2', 'B3'

In [24]:
l1=list(n1)
l2=list(n2)
l3=list(n3)

In [25]:
dfa={'Key': l1,'A': l2 , 'B':l3  }

In [26]:
dfa

{'Key': ['K0', 'K1', 'K2', 'K3  '],
 'A': ['A0', 'A1', 'A2', 'A3'],
 'B': ['B0', 'B1', 'B2', 'B3']}

In [27]:
df1=pd.DataFrame(dfa)

In [28]:
'K0 K1 K2 K3'.split()

['K0', 'K1', 'K2', 'K3']

In [29]:
dfb={'Key':'K0 K1 K2 K3'.split(),'A':'A0 A1 A2 A3'.split(), 'B':'B0 B1 B2 B3'.split()}

In [30]:
df2=pd.DataFrame(dfb)

In [31]:
df1

    Key   A   B
0    K0  A0  B0
1    K1  A1  B1
2    K2  A2  B2
3  K3    A3  B3

In [32]:
df2

  Key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [33]:
pd.concat([df1,df2],axis=1)

    Key   A   B Key   A   B
0    K0  A0  B0  K0  A0  B0
1    K1  A1  B1  K1  A1  B1
2    K2  A2  B2  K2  A2  B2
3  K3    A3  B3  K3  A3  B3

In [34]:
pd.merge(df1,df2,on='Key')

  Key A_x B_x A_y B_y
0  K0  A0  B0  A0  B0
1  K1  A1  B1  A1  B1
2  K2  A2  B2  A2  B2

In [35]:
right=pd.DataFrame({'A':'C0 C1 C2'.split(), 'B': 'D0 D1 D2'.split()}, index='K1 K2 K3'.split())

In [36]:
left=pd.DataFrame({'C':'C0 C1 C2'.split(), 'D': 'D0 D1 D2'.split()}, index='K1 K2 K3'.split())

In [37]:
left.join(right)

     C   D   A   B
K1  C0  D0  C0  D0
K2  C1  D1  C1  D1
K3  C2  D2  C2  D2